<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<wicket:panel>

		<div>
			<h2 wicket:id="heading">Lekce</h2>

            <form wicket:id="form" class="lessons">
				<div wicket:id="repeating" class="lesson-box">
					<div class="box-content-l">
						<span class="date"><span wicket:id="date">[edit]</span></span>
						<br />
						<span class="time"><span wicket:id="time">[contactid]</span></span>
					</div>

					<div class="box-content">
						<h3><span wicket:id="name">[name]</span></h3><br />
						<div class="teacher"><a wicket:id="link"><span wicket:id="teacherName">[teacherName]</span></a> </div>
					</div>
					<div class="box-content-r">
						<input type="checkbox" wicket:id="check" />
                        <!--<input type="checkbox" wicket:id="check" />-->
					</div>
				</div>
				<input wicket:id="sign" type="submit" value="Smazat vybrané" class="main-button" />
            </form>
		</div>

	</wicket:panel>
</html>
