<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<wicket:panel>

		<div>
			<h2><wicket:message key="Lekce"/></h2>
				<div wicket:id="repeating" class="lesson-box">
					<div class="box-content-l">
						<span class="date"><span wicket:id="date">[edit]</span></span>
						<br />
						<span class="time"><span wicket:id="time">[contactid]</span></span>
					</div>

					<div class="box-content">
						<h3><span wicket:id="name">[name]</span></h3><br />
						<div class="teacher"><a wicket:id="link"><span wicket:id="teacherName">[teacherName]</span></a> </div>
					</div>
					<div class="box-content-r">
						<a wicket:id="deleteLink"><wicket:message key="Smazat"/></a>
					</div>
				</div>
            
		</div>

	</wicket:panel>
</html>
