<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<wicket:panel>

		<form wicket:id="generateForm">
			<label for="email"><wicket:message key="email"/></label>
            <input wicket:id="email" id="email" type="text" size="30"/><br>
			<label for="password"><wicket:message key="password"/></label>
            <input wicket:id="password" id="password" type="password" size="30"/><br>
			<input type="submit" wicket:id="loginButton" value="Přihlásit" />
		</form>

	</wicket:panel>
</html>
