<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
        
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

	<tx:annotation-driven/>

	<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url" value="jdbc:hsqldb:mem:testdb"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>cz.muni.fi.pa165.languageschool.api.entities.Course</value>
				<value>cz.muni.fi.pa165.languageschool.api.entities.Lesson</value>
				<value>cz.muni.fi.pa165.languageschool.api.entities.Teacher</value>
				<value>cz.muni.fi.pa165.languageschool.api.entities.Student</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="courseDao" class="cz.muni.fi.pa165.languageschool.DAO.HibernateCourseDaoImlp"/>

	<bean id="lessonDao" class="cz.muni.fi.pa165.languageschool.DAO.HibernateLessonDaoImlp" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="studentDao" class="cz.muni.fi.pa165.languageschool.DAO.HibernateStudentDaoImlp" />

	<bean id="teacherDao" class="cz.muni.fi.pa165.languageschool.DAO.HibernateTeacherDaoImlp" />

    

	<!-- SERVICE BEANs -->

	<bean id="lessonService" class="cz.muni.fi.pa165.languageschool.services.LessonServiceImpl">
            <property name="lessonDao" ref="lessonDao"/>
            <property name="studentDao" ref="studentDao"/>
	</bean>

	<bean id="courseService" class="cz.muni.fi.pa165.languageschool.services.CourseServiceImpl">
            <property name="courseDao" ref="courseDao"/>
            <property name="lessonDao" ref="lessonDao"/>
	</bean>
		
        <bean id="teacherService" class="cz.muni.fi.pa165.languageschool.services.TeacherServiceImpl">
            <property name="teacherDao" ref="teacherDao"/>
            <property name="lessonDao" ref="lessonDao"/>
        </bean>
        
        <bean id="studentService" class="cz.muni.fi.pa165.languageschool.services.StudentServiceImpl">
            <property name="studentDao" ref="studentDao"/>
            <property name="lessonDao" ref="lessonDao"/>
        </bean>


    <bean class="cz.muni.fi.pa165.languageschool.services.GenerateDataServiceImpl">

    <!-- ADAPTER BEANs -->
	<bean class="cz.muni.fi.pa165.languageschool.adapters.CourseDtoAdapterImpl" />
	<bean class="cz.muni.fi.pa165.languageschool.adapters.StudentDtoAdapterImpl" />
	<bean class="cz.muni.fi.pa165.languageschool.adapters.LessonDtoAdapterImpl" />
	<bean class="cz.muni.fi.pa165.languageschool.adapters.TeacherDtoAdapterImpl" />
        
</beans>
