<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<wicket:panel>

		<div>
			<h2 wicket:id="heading">Kurzy</h2>
			<form wicket:id="form" class="courses">
				
				<wicket:enclosure>
					<span wicket:id="deleteLabel">Smazat</span>
				</wicket:enclosure>
				
				<div wicket:id="repeating" class="course-box">
					<div class="box-content-l">
						Level<br />
						<span wicket:id="level">[level]</span>
					</div>
					
					<div class="box-content">
						<h3><a wicket:id="link"><span wicket:id="name">[name]</span></a></h3><br />
						<div class="teacher"><span wicket:id="language">[language]</span></div>
					</div>
					<wicket:enclosure>
						<div class="box-content-r">
							<input wicket:id="delete" type="submit" value="Smazat" class="button" />
						</div>
					</wicket:enclosure>
				</div>

				<wicket:enclosure>
				<div class="course-box-new">
					<div class="box-content-l">
						<input type="text" value="Level" />
					</div>
					
					<div class="box-content">
						<input type="text" value="Název kurzu" /><br />
						<input type="text" value="Jazyk" />
					</div>
					
					
					<div class="box-content-r">
						<input wicket:id="addButton" type="submit" value="Přidat kurz" class="main-button" />
					</div>
				</div>
				</wicket:enclosure>
				
			</form>
		</div>

	</wicket:panel>
</html>
