<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<wicket:panel>

		<form wicket:id="generateForm">
			<label for="teacherCount"><wicket:message key="teacherCount"/></label>
            <input wicket:id="teacherCount" id="teacherCount" type="text" size="6"/><br>
			<label for="courseCount"><wicket:message key="courseCount"/></label>
            <input wicket:id="courseCount" id="courseCount" type="text" size="6" /><br>
			<label for="lessonCount"><wicket:message key="lessonCount"/></label>
            <input wicket:id="lessonCount" id="lessonCount" type="text" size="6" /><br>
			<label for="studentCount"><wicket:message key="studentCount"/></label>
            <input wicket:id="studentCount" id="studentCount" type="text" size="6" /><br>
			<label></label><input type="submit" wicket:id="generateButton" class="generator-main-button" wicket:message="value:generate" />
		</form>

	</wicket:panel>
</html>
